$r_desk: 1024px;   // Небольшой ноут
$r_adapt: 1000px; //test
$r_desk_full_over: 1600px;
$r_desk_full: 1500px;
$r_desk_wxga: 1366px; //лаптоп
$r_tab: 768px;    // Планшет
$r_mobile: 767px;
$r_mobile_550: 549px; // for slider x2
$r_mobile_360: 360px;

